h1 {
    font-family: "Arial", cursive, sans-serif;
    text-align: center;
}

canvas {
    display: block;
    margin: 0 auto;
    background-image: url("field.png");
    background-size: 1002px 407px;
}

button {
    background-color: #003375;
    border-radius: 20px;
    border: 10px solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin: auto;
}

#slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 1002px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: block;
    margin: 30px auto;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0070FF;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0070FF;
    cursor: pointer;
}