h1 {
    font-family: "Arial", cursive, sans-serif;
    text-align: center;
}

canvas {
    display: block;
    margin: 0 auto;
    background-image: url("field.png");
    background-size: 1002px 407px;
}

button {
    background-color: #003375;
    border-radius: 20px;
    border: 10px solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin: auto;
}